# Dependencies
node_modules
.next

# Git
.git
.gitignore

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
*.pem

# IDE
.idea
.vscode

# Keep Prisma files
!prisma/migrations
!prisma/schema.prisma
!prisma/seed.ts

# Keep source files
!src/data/articles
!src/data/news.ts
!src/app
!src/components
!src/lib
